<h1 style="margin: 20px 0 0 40px;">Historial Ventas</h1>
<mat-card style="margin: 20px 40px 40px 40px; padding: 1em;">
    <mat-card-content>
        <form [formGroup]="formularioBusqueda" (ngSubmit)="buscarVentas()">
            <div class="campos-formulario">
                <mat-form-field appearance="fill">
                    <mat-label>Tipo búsqueda</mat-label>
                    <mat-select formControlName="buscarPor">
                        <mat-option *ngFor="let item of opcionesBusqueda" [value]="item.value">
                            {{ item.descripcion }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="formularioBusqueda.value.buscarPor == 'numero'">
                    <mat-label>Folio</mat-label>
                    <input matInput autocomplete="off" formControlName="numero" maxlength="4" numbersOnly placeholder="0000">
                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="formularioBusqueda.value.buscarPor == 'fecha'">
                    <mat-label>Fecha Inicio</mat-label>
                    <input matInput autocomplete="off" formControlName="fechaInicio" [matDatepicker]="picker1"  (dateChange)="setMinDate('change', $event)" [max]="maxFecha">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="formularioBusqueda.value.buscarPor == 'fecha'">
                    <mat-label>Fecha Fin</mat-label>
                    <input matInput autocomplete="off" formControlName="fechaFin" [matDatepicker]="picker2" [min]="minFechaFin" [max]="maxFecha">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <button mat-raised-button color="primary"
                    [disabled]="formularioBusqueda.invalid"
                    type="submit"
                    class="btn_buscar">
                    <mat-icon mat-list-icon>search</mat-icon>Buscar
                </button>
            </div>
        </form>
        <mat-divider></mat-divider>
        <mat-form-field appearance="outline" class="input-filter">
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="aplicarFiltros($event)" #input>
        </mat-form-field>
        <div class="mat-elevation-z2">
            <table mat-table [dataSource]="datosListaVenta">
                <ng-container matColumnDef="fechaRegistro">
                    <th mat-header-cell *matHeaderCellDef> Fecha Registro </th>
                    <td mat-cell *matCellDef="let element"> {{ element.fechaRegistro }} </td>
                </ng-container>
                <ng-container matColumnDef="numeroDocumento">
                    <th mat-header-cell *matHeaderCellDef> Folio </th>
                    <td mat-cell *matCellDef="let element"> {{ element.numeroDocumento }} </td>
                </ng-container>
                <ng-container matColumnDef="tipoPago">
                    <th mat-header-cell *matHeaderCellDef> Tipo Pago </th>
                    <td mat-cell *matCellDef="let element"> {{ element.tipoPago }} </td>
                </ng-container>
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let element"> ${{ element.totalTexto }} </td>
                </ng-container>
                <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef style="width: 150px;"></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" (click)="verDetalleVenta(element)"
                            matTooltip="Ver Detalle">
                            <mat-icon mat-list-icon>event_note</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsTable"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsTable;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat=cell" colspan="4">Sin datos para mostrar.</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
