.mat-divider {
    margin: 1em 0;
}

table {
    width: 100%;
}

.campos-formulario {
    display: flex;
    align-items: flex-start;
}

.btn_buscar {
    width: 150px;
    margin-top: 15px;
}

mat-form-field {
    margin-right: 1em;
}

.mat-mdc-raised-button.mat-excelBtn {
    --mdc-protected-button-container-color: #4caf50;
    --mdc-protected-button-label-text-color: #fff;
}