<h1 style="margin: 20px 0 0 40px;">Usuarios</h1>
<mat-card style="margin: 20px 40px 40px 40px; padding: 1em;">
    <mat-card-title>
        <button mat-raised-button color="primary" (click)="nuevoUsuario()">
            <mat-icon mat-list-icon>add</mat-icon>Nuevo Usuario
        </button>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="dashboard-card-content">
        <mat-form-field appearance="outline" class="input-filter">
            <mat-label>Filtrar</mat-label>1
            <input matInput (keyup)="aplicarFiltros($event)" #input>
        </mat-form-field>
        <div class="mat-elevation-z2">
            <table mat-table [dataSource]="dataListaUsuarios">
                <ng-container matColumnDef="nombreCompleto">
                    <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
                    <td mat-cell *matCellDef="let element"> {{ element.nombreCompleto }} </td>
                </ng-container>
                <ng-container matColumnDef="correo">
                    <th mat-header-cell *matHeaderCellDef> Correo </th>
                    <td mat-cell *matCellDef="let element"> {{ element.correo }} </td>
                </ng-container>
                <ng-container matColumnDef="rolDescripcion">
                    <th mat-header-cell *matHeaderCellDef> Rol </th>
                    <td mat-cell *matCellDef="let element"> {{ element.rolDescripcion }} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{ element.esActivo  == 1 ? 'Activo' : 'Inactivo' }} </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef style="width: 150px;"></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" (click)="editarUsuario(element)">
                            <mat-icon mat-list-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="eliminarUsuario(element)">
                            <mat-icon mat-list-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsTable"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsTable;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat=cell" colspan="4">Sin resultados del filtro: "{{ input.value }}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>