/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    color: #fff !important;
    --mat-mdc-button-persistent-ripple-color: currentColor;
}

.mat-mdc-snack-bar-container {
    --mdc-snackbar-supporting-text-color: #ffffff;
  
    &.notif-error {
      --mdc-snackbar-container-color: #f23a2f;
    }
  
    &.notif-success {
      --mdc-snackbar-container-color: #43a446;
    }

    &.notif-warning {
        --mdc-snackbar-container-color: #dfd118;
      }
  }